@font-face {
  font-family: "AvenirNextCyr-Bold";
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next - Regular";
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik One";
  font-display: swap;
  src: url("../fonts/Rubik One.woff") format("woff"), url("../fonts/Rubik One.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto Condensed";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto Condensed";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(136, 148, 133, 0.3);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.page__pagination {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(12, 139, 29, 0.4);
  cursor: pointer;
}

.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: rgba(28, 161, 46, 0.8);
  margin: 10px 0;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
  background: rgba(0, 0, 0, 0.659);
  border: 3px solid rgba(28, 161, 46, 0.8);
  border-radius: 50%;
}

.swiper-button-next {
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: absolute;
  top: 50%;
  right: 17px;
  -webkit-transform: translate(0px, 150px);
      -ms-transform: translate(0px, 150px);
          transform: translate(0px, 150px);
  z-index: 10;
  -webkit-animation-name: next;
          animation-name: next;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.swiper-button-next:hover {
  opacity: 0.55;
}

@-webkit-keyframes next {
  0% {
    top: 50%;
  }

  100% {
    top: 52%;
  }
}

@keyframes next {
  0% {
    top: 50%;
  }

  100% {
    top: 52%;
  }
}

.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  -webkit-animation-iteration-count: 0;
          animation-iteration-count: 0;
  pointer-events: none;
}

.screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.screen__box {
  position: absolute;
  bottom: 10%;
  z-index: 20;
  max-width: 640px;
  padding: 0 10px;
}

.screen__title {
  color: #ffffff;
  text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.91);
  font-family: "Gotham Pro";
  font-size: calc(20px + 15 * ((100vw - 320px) / 1600));
  letter-spacing: 2px;
  line-height: 45px;
  text-transform: uppercase;
}

.screen__text {
  text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.91);
  color: #ffffff;
  font-family: "Avenir Next - Regular";
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  line-height: 35px;
  margin: 50px 0;
}

.screen__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen__search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  cursor: pointer;
  height: 80px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen__search a {
  text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.91);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  margin: 0px auto;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 25px;
  text-align: left;
}

.screen__search a:before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 30px;
  height: 40px;
  background: url(../img/Location_Icon.svg);
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__logo {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 20;
  opacity: 0.8;
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
  width: 240px;
  height: 80px;
  border: 5px solid #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btn a {
  text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.91);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin: 0px auto;
  text-align: center;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 25px;
  text-transform: uppercase;
}

.btn._fw {
  width: 100%;
}

.wrapper._free .page__pagination {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(50px, -50%);
      -ms-transform: translate(50px, -50%);
          transform: translate(50px, -50%);
  opacity: 0;
}

.screen__models {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 560px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.models__body {
  width: 100%;
}

.models__menu {
  width: 100%;
}

.menu-models {
  position: relative;
  width: 100%;
}

.menu-models__title {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Rubik One";
  letter-spacing: 2px;
  line-height: 45px;
  text-transform: uppercase;
  margin: 20px 10px;
  font-size: calc(20px + 15 * ((100vw - 320px) / 1600));
}

.menu-models__list {
  position: relative;
  height: 100%;
}

.menu-models__link {
  z-index: 10;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 25px;
  text-transform: uppercase;
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
}

.menu-models__link a {
  display: block;
  padding: 20px 10px;
  color: #c0a2a2;
}

.menu-models__link._active .submenu-models {
  opacity: 1;
  visibility: visible;
}

.menu-models__link._active {
  background-color: rgba(0, 0, 0, 0.7);
}

.submenu-models__body {
  position: absolute;
  top: 0;
  width: 1280px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.submenu-models__image {
  width: 100%;
}

.submenu-models__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.submenu-models__content {
  padding: 80px;
  position: absolute;
  top: 0;
  left: 0;
}

.submenu-models__title {
  width: 480px;
  color: #ffffff;
  font-family: "Rubik One";
  letter-spacing: 2px;
  line-height: 45px;
  text-transform: uppercase;
  font-size: calc(20px + 15 * ((100vw - 320px) / 1600));
}

.submenu-models__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submenu-models__item {
  color: #ffffff;
  font-family: "Avenir Next - Regular";
  letter-spacing: 1px;
  line-height: 35px;
  margin: 25px 0;
  font-size: calc(18px + 7 * ((100vw - 320px) / 1600));
}

.submenu-models__value {
  color: #ffffff;
  font-family: "Avenir Next";
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 35px;
  margin: 25px 0;
  font-size: calc(18px + 7 * ((100vw - 320px) / 1600));
}

.submenu-models__button {
  margin: 50px 0px 0px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  border: 5px solid #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.submenu-models__button a {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin: 0px auto;
  text-align: center;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 25px;
  text-transform: uppercase;
}

.submenu-models__button._fw {
  width: 100%;
}

.screen__accessories {
  height: 100%;
  width: 100%;
}

.screen__body {
  width: 100%;
  height: 100%;
}

.accessories {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0px 0px 0px;
}

.accessories__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 0px 0px 20px 0px;
}

.accessories__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Gotham Pro";
  font-size: 35px;
  padding: 0 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.accessories__box {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  cursor: pointer;
}

.accessories__box_b {
  z-index: 5;
  cursor: pointer;
  margin: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

.accessories__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.accessories__img img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.accessories__heading {
  color: #ffffff;
  font-family: "Gotham Pro";
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: calc(18px + 17 * ((100vw - 320px) / 1600));
  bottom: 10px;
  left: 10px;
}

.news__header {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Gotham Pro";
  font-size: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 10px 5px 10px;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333%;
          flex: 0 0 33.3333333%;
  position: relative;
}

.news__image {
  height: 100%;
  position: relative;
}

.news__image img {
  width: 100%;
  height: 100%;
}

.news__item {
  width: 100%;
  padding: 5px;
}

.news__item_r {
  padding: 5px;
  position: absolute;
  bottom: 0px;
}

.news__headline {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4a4a4a;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 700;
  padding: 0 10px;
}

.news__title {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 25px;
  font-weight: 700;
  position: relative;
  z-index: 1000;
  margin: 20px 0px 0px 0px;
}

.news__title_r {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 25px;
  font-weight: 700;
  position: relative;
  z-index: 1000;
  margin: 20px 0px 0px 0px;
}

.news__text {
  width: 100%;
  color: #000000;
  font-family: "Avenir Next - Regular";
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  position: relative;
  z-index: 1;
  margin: 10px 0px 10px 0px;
  line-height: 28px;
}

.news__text_r {
  width: 100%;
  opacity: 0.8;
  color: #ffffff;
  font-family: "Avenir Next - Regular";
  font-size: 20px;
  position: relative;
  z-index: 1;
  margin: 10px 0px 10px 0px;
  line-height: 28px;
}

.news__link {
  color: #4a4a4a;
  font-family: "Gotham Pro";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 25px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.news__link_r {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 25px;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}

.club__header {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Gotham Pro";
  font-size: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 10px 5px 10px;
}

.club__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.club__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333333%;
          flex: 1 1 33.333333%;
}

.club__imagesbig {
  cursor: pointer;
  position: relative;
}

.club__imagesbig img {
  width: 100%;
  height: 100%;
}

.club__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.club__img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.club__img img {
  width: 100%;
  height: 100%;
}

.club__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333333%;
          flex: 1 1 33.333333%;
}

.club__colimages {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.club__icon {
  position: absolute;
  top: 35px;
  left: 35px;
  z-index: 1000;
}

.club__icon img {
  width: 40px;
  height: 40px;
}

.club__hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.club__text {
  color: #ffffff;
  font-family: "Avenir Next - Regular";
  line-height: 20px;
  position: absolute;
  bottom: 10px;
  padding: 0 10px;
  width: 100%;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1600));
}

.club__text span {
  display: block;
}

.club__colimage {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
}

.club__colimage img {
  width: 100%;
  height: 100%;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0px 0px 0px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16.6666665%;
          flex: 1 1 16.6666665%;
  position: relative;
  padding: 0 10px;
}

.footer__title {
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  color: #4a4a4a;
  font-family: "Gotham Pro";
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 25px;
  text-transform: uppercase;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
}

.footer__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 80px 0px 50px 0px;
}

.footer__link {
  width: 100%;
  color: #4a4a4a;
  font-family: "Gotham Pro";
  font-size: 20px;
  line-height: 20px;
  margin: 10px 0;
}

.bottom {
  text-align: center;
  width: 100%;
}

.bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0px 40px 0px;
  margin: 0px auto;
}

.bottom__copy {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Avenir Next - Regular";
  font-size: 20px;
  line-height: 35px;
}

.bottom__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
}

.bottom__made {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Avenir Next - Regular";
  font-size: 20px;
  line-height: 35px;
}

@media (min-width: 767.98px) {
  .submenu-models {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
  }
}

@media (min-width: 991.98px) {
  .club__hover {
    opacity: 0;
  }

  .club__hover:hover {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .screen__search:hover a {
    color: #d6b5b5;
  }

  .btn:hover {
    border: 5px solid #d6b5b5;
  }

  .btn:hover a {
    color: #d6b5b5;
  }

  .submenu-models__button:hover {
    border: 5px solid #d6b5b5;
  }

  .submenu-models__button:hover a {
    color: #d6b5b5;
  }
}

@media (min-width: 2400px) {
  .submenu-models__body {
    width: 1880px;
  }

  .submenu-models__image img {
    width: 1880px;
  }
}

@media (max-width: 1182px) {
  .club__icon {
    top: 15px;
    left: 15px;
  }

  .club__icon img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 991.98px) {
  .submenu-models__content {
    padding: 80px 10px;
  }

  .submenu-models__title {
    width: 400px;
  }

  .accessories__row {
    margin: 0px;
  }

  .accessories__title {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    padding: 0px;
  }

  .accessories__box {
    margin: 0px;
    min-height: 260px;
  }

  .accessories__box_b {
    margin: 0px;
    min-height: 300px;
  }

  .club__hover {
    display: none;
  }

  .footer__row {
    margin: 40px 0px 0px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
  }

  .footer__list {
    margin: 50px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  .swiper-button-next {
    right: -100%;
  }

  .screen__box {
    bottom: 10px;
  }

  .screen__text {
    margin: 20px 0;
  }

  .screen__models {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    height: auto;
  }

  .menu-models__title {
    margin: 0;
    padding: 20px 10px;
  }

  .menu-models__link span {
    -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
            transform: rotate(95deg);
    position: absolute;
    margin: 0px 0px 0px 10px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .menu-models__link {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #241616;
  }

  .submenu-models {
    position: relative;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    top: 0;
    left: 0px;
    z-index: 10;
  }

  .submenu-models__image {
    height: 250px;
    width: 100%;
  }

  .submenu-models__image img {
    height: 250px;
    width: 100%;
  }

  .submenu-models__content {
    padding: 10px;
  }

  .submenu-models__title {
    max-width: 300px;
    line-height: 35px;
    font-size: calc(20px + 5 * ((100vw - 320px) / 1600));
  }

  .submenu-models__item {
    margin: 5px 0;
    line-height: 25px;
    font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  }

  .submenu-models__value {
    margin: 5px 0;
    line-height: 25px;
    font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  }

  .submenu-models__button {
    margin: 10px 0px 0px 0px;
    height: 50px;
    border: 3px solid #ffffff;
    width: 100%;
  }

  .submenu-models__button a {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  }

  .news__row {
    display: block;
  }

  .news__link {
    margin: 0px 0px 30px 0px;
    display: block;
  }

  .news__link_r {
    margin: 0px 0px 10px 0px;
  }

  .club__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .club__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .club__col {
    display: block;
  }

  .club__colimages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .footer__list {
    margin: 30px 0px 20px 0px;
  }

  .bottom__copy {
    display: none;
  }

  .bottom__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 20px 0px;
  }

  .bottom__made {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .screen__row {
    margin: 0px 0px 20px 0px;
    display: block;
  }

  .screen__search {
    height: 50px;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .btn {
    height: 50px;
    width: 100%;
    padding: 0 10px;
    border: 2px solid #ffffff;
  }

  .accessories__row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }

  .accessories__heading {
    font-size: calc(30px + 5 * ((100vw - 320px) / 1600));
  }

  .club__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .club__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333333%;
            flex: 1 1 33.333333%;
  }

  .club__colimages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@supports (-webkit-appearance:none){
.screen__search a:before{background:url(../img/Location_Icon.svg)}
}

 @media (min-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 2400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1182px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}
